<%= render "shared/admin/nav", { header_title: "Rangos de Comisión Local#{@current_location ? " - #{@current_location.name}" : ''}" } do %>
  <%= render "shared/admin/location_dropdown" %>
<% end %>

<div class="px-4 mb-16">
  <%= render 'table', commission_ranges: @commission_ranges %>
</div>