<%= render "shared/admin/nav", { header_title: "Nuevo Pedido" } do %>
  <%= link_to "Volver a Pedidos", admin_requisitions_path, class: "btn btn-secondary" %>
<% end %>

<div class="container px-4 py-8 mx-auto sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Crear Nuevo Pedido</h3>
        <div class="mt-5">
          <%= render 'form', requisition: @requisition %>
        </div>
      </div>
    </div>
  </div>
</div>