<%= render "shared/admin/nav", { header_title: "Nuevo Pedido" } do %>
  <%= link_to "Volver a Pedidos", admin_requisitions_path, class: "btn btn-secondary" %>
<% end %>

<div class="container px-4 py-4 mx-auto sm:px-6 lg:px-8">
  <div class="mx-auto max-w-7xl">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-2 sm:p-4">
        <div class="mt-2">
          <%= render 'form', requisition: @requisition %>
        </div>
      </div>
    </div>
  </div>
</div>