# app/views/admin/invoice_series_mappings/edit.html.erb

<div class="container px-4 mx-auto sm:px-6 lg:px-8">
  <h1 class="mb-6 text-2xl font-semibold">Editar Mapeo de Serie de Comprobante</h1>

  <%= render 'form', invoice_series_mapping: @invoice_series_mapping %>

  <%= link_to 'Volver', admin_invoice_series_mappings_path, class: 'mt-4 inline-block text-indigo-600 hover:text-indigo-900' %>
</div>