<div data-pos--sellers-modal-target="container" class="fixed inset-0 z-50 hidden overflow-y-auto" role="dialog">
  <div class="relative w-full h-screen">
    <div data-pos--sellers-modal-target="content" class="hidden h-auto max-w-4xl p-8 m-4 mx-auto bg-white rounded-lg shadow-xl dark:bg-slate-700">
      <h2 class="text-lg font-semibold text-center dark:text-slate-100">Selecciona a los Vendedores</h2>
      <div id="sellers-datatable" class="mt-6">
        <!-- Sellers DataTable will be inserted here -->
      </div>
      <div class="flex justify-center mt-4 space-x-4">
        <button type="button" class="btn btn-secondary" data-action="click->pos--sellers-modal#close">Cancelar</button>
        <button type="button" class="btn btn-primary" data-action="click->pos--sellers-modal#saveSellers">Guardar</button>
      </div>
    </div>
  </div>
</div>