<table class="table datatable" data-controller="datatable"
       data-datatable-resource-name-value="Guia"
       data-datatable-server-side-value="true"
       data-datatable-options-value="<%= datatable_options %>">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Número</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th>Estado SUNAT</th>
      <th>Transferencia de Stock</th>
      <th>Venta</th>
      <th>Enlace</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%# Rows are loaded via AJAX %>
  </tbody>
</table>
