@import "actiontext.css";
@import "buttons.css";
@import "forms.css";
@import "navigation.css";

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}
