<%= render "shared/admin/nav", { header_title: "Nuevo Turno de Caja" } do %>
<% end %>

<div class="container p-6 mx-auto mt-6 bg-white border rounded-lg shadow border-slate-300/80 shadow-slate-100 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
  <%= render 'form', cashier_shift: @cashier_shift %>
</div>