<%= render "shared/admin/nav", { header_title: "Nueva Venta" } do %>
  <%= render "shared/admin/create_dropdown" %>
<% end %>

<div id="max-price-discount-percentage" data-value="<%= Rails.application.config.global_settings[:max_price_discount_percentage] %>" style="display: none;"></div>

<!-- Container to adjust layout for mobile and desktop -->
<div class="flex flex-col lg:flex-row h-[calc(100vh-180px)] text-black bg-white dark:bg-black dark:text-white" data-controller="pos--order-items">

  <!-- Product Grid Section (on top for mobile, on right for desktop) -->
  <div class="order-first w-full p-4 bg-gray-200 dark:bg-gray-900 lg:w-1/2 lg:order-last lg:h-full lg:overflow-y-auto">

    <div id="product-grid" data-controller="pos--product-grid" data-pos--order-items-target="productGrid">
      <!-- Search Bar -->
      <input type="text" placeholder="Buscar Productos..." class="w-full p-2 mb-4 text-black bg-white rounded dark:bg-gray-800 dark:text-white" data-pos--product-grid-target="search" data-action="input->pos--product-grid#searchProducts">

      <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4" data-pos--product-grid-target="productContainer">
        <!-- Products will be rendered here -->
      </div>
    </div>

    <div data-pos--order-items-target="paymentContainer" class="hidden">
    
      <div data-pos--order-items-target="paymentMethods">
        <!-- Buttons will be dynamically added here -->
      </div>

      <div data-pos--order-items-target="paymentList" class="mt-4">
        <!-- Payments will be listed here -->
      </div>

      <div class="flex justify-between pt-4 mt-4 text-2xl border-t dark:border-gray-600">
        <span data-pos--order-items-target="remainingLabel">Remaining:</span>
        <span data-pos--order-items-target="remainingAmount">S/ 0.00</span>
      </div>

      <div class="flex justify-between mt-4">
        <button type="button" class="p-4 text-white bg-teal-500 rounded btn dark:bg-teal-400" data-action="click->pos--order-items#saveOrder">
          Crear Venta
        </button>
        <button type="button" class="p-4 text-black bg-gray-300 rounded btn dark:bg-gray-600 dark:text-white" data-action="click->pos--order-items#cancelPayment">
          Volver
        </button>
      </div>

    </div>

  </div>

  <!-- Order and Keypad Section (full width on mobile, left half on desktop) -->
  <div class="flex flex-col w-full h-full p-3 bg-gray-100 lg:w-1/2 dark:bg-gray-800">
    
    <!-- Order List Section -->
    <div class="flex flex-col flex-grow p-3 overflow-hidden bg-white rounded shadow-md min-h-56 dark:bg-gray-700">
      <div id="pos--order-items" class="flex flex-col h-full">
        <!-- Column Titles -->
        <div class="flex gap-2 mb-2 font-bold">
        <div class="flex-grow" style="flex-basis: 55%;">Producto</div>
        <div class="flex-grow" style="flex-basis: 15%;">Cant</div>
        <div class="flex-grow" style="flex-basis: 15%;">Precio</div>
        <div class="flex-grow" style="flex-basis: 15%;">Subtotal</div>
      </div>

        <!-- Container for dynamically added items -->
        <div data-pos--order-items-target="items" class="flex-grow overflow-auto"></div>

        <!-- Total (Aligned at the Bottom) -->
        <div class="flex justify-between pt-4 mt-4 text-2xl border-t dark:border-gray-600">
          <span>Total:</span>
          <span data-pos--order-items-target="total">S/ 0.00</span>
        </div>
      </div>
    </div>

    <!-- Buttons Section -->
    <div class="flex justify-between mt-4 mb-4">
      <button type="button" class="p-2 bg-gray-300 rounded btn dark:bg-gray-600">Comentarios</button>
      <button type="button" class="p-2 bg-gray-300 rounded btn dark:bg-gray-600">Cliente</button>
      <div id="draft-button-container">
        <% if draft_order_present? %>
          <a href="#" class="block w-full p-4 text-center bg-yellow-400 rounded btn dark:bg-yellow-500" data-action="click->pos--order-items#loadDraft">Recuperar Borrador</a>
        <% end %>
      </div>
    </div>

    <!-- Keypad and Payment Button Section -->
    <div class="flex h-48">
      <!-- Big Payment Button -->
      <div class="flex items-center justify-center w-1/3 h-full">
        <button type="button" class="flex items-center justify-center w-full h-full p-4 text-3xl text-white bg-teal-500 rounded btn dark:bg-teal-400" data-action="click->pos--order-items#payOrder">
          Pagar
        </button>
      </div>

      <!-- Numeric Keypad -->
      <div class="flex-grow h-full">
        <div id="keypad" data-controller="pos--keypad" class="h-full">
          <div class="grid h-full grid-cols-4 gap-2">
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">1</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">2</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">3</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">Cant</button>

            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">4</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">5</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">6</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">Descuento</button>

            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">7</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">8</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">9</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">Precio</button>

            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">+/-</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">0</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800">.</button>
            <button class="text-lg bg-white btn keypad-button dark:bg-gray-800"><%= icon "backspace", classes: "w-8 h-8 dark:text-white" %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>