<%= render "shared/admin/nav", { header_title: "Nueva Razón Social" } do %>
  <%= link_to 'Volver a Razones Sociales', admin_invoicers_path, class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
<% end %>

<div class="container px-4 mx-auto sm:px-6 lg:px-8">
  <div class="mt-6 bg-white rounded-lg shadow-sm dark:bg-slate-800">
    <div class="px-4 py-5 sm:p-6">
      <%= render 'form', invoicer: @invoicer %>
    </div>
  </div>
</div>