<div id="global-loader" class="fixed inset-0 z-50 hidden w-full h-full overflow-y-auto bg-gray-100 bg-opacity-50" data-controller="loader">
  <div data-loader-target="content" class="flex flex-col items-center justify-center h-full">
    <div class="flex flex-col items-center p-8 bg-white rounded-lg shadow-xl">
      <div class="flex space-x-2">
        <div class="w-4 h-4 bg-primary-500 rounded-full animate-pulse"></div>
        <div class="w-4 h-4 delay-75 bg-primary-500 rounded-full animate-pulse"></div>
        <div class="w-4 h-4 delay-150 bg-primary-500 rounded-full animate-pulse"></div>
      </div>
      <span class="mt-4 font-semibold text-gray-700">Cargando...</span>
    </div>
  </div>
</div>