<div data-controller="dropdown inventory--select-warehouse" class="mr-4">
  <button data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-target="trigger"
    class="flex space-x-2 btn btn-primary sm:pr-2 focus:ring-slate-100/20 group dark:focus:ring-slate-500/20">
    <span>Selecciona el Almacén</span>
    <%= icon "chevron-down", classes: "stroke-current w-3 h-3 text-white group-focus:rotate-180 transition ease-in-out transform" %>
  </button>

  <ul data-dropdown-target="menu"
      class="hidden transition transform origin-top-right absolute right-0 top-10 bg-white rounded-lg shadow-xl shadow-slate-900/10 border border-slate-200 md:w-[200px] w-full z-50 py-2 dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 md:text-sm text-base font-medium text-slate-600 dark:text-slate-200"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95" data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95">

    <% Warehouse.includes([:location]).all.each do |warehouse| %>
      <li>
        <%= link_to "#", class: "px-4 py-2 hover:text-primary-600 dark:hover:text-primary-300 group flex items-center justify-start space-x-3", data: { action: "click->inventory--select-warehouse#select", warehouse_id: warehouse.id } do %>
          <span><%= name_with_location_warehouse(warehouse) %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>