<%= render "shared/admin/nav", { header_title: "Nuevo Método de Pago" } do %>
<% end %>

<div class="container p-6 mx-auto mt-6 bg-white border rounded-lg shadow border-slate-300/80 dark:shadow-slate-950 dark:bg-slate-800 dark:border-slate-600/80">
  <h1 class="mb-4 text-xl font-semibold">Nuevo Método de Pago</h1>

  <%= render 'form', payment_method: @payment_method %>
</div>