<div class="flex space-x-2">
  <%= link_to admin_purchase_invoice_path(purchase_invoice), class: "text-blue-600 hover:text-blue-800" do %>
    <i class="fas fa-eye"></i>
  <% end %>
  
  <%= link_to edit_admin_purchase_invoice_path(purchase_invoice), class: "text-yellow-600 hover:text-yellow-800" do %>
    <i class="fas fa-edit"></i>
  <% end %>
  
  <%= button_to admin_purchase_invoice_path(purchase_invoice), 
      method: :delete, 
      form: { 
        data: { 
          turbo_confirm: "¿Está seguro que desea eliminar este comprobante de compra?",
          turbo: false 
        } 
      },
      class: "text-red-600 hover:text-red-800 bg-transparent border-0 p-0 cursor-pointer" do %>
    <i class="fas fa-trash"></i>
  <% end %>
</div>
