# app/views/reports/cash_flow.html.erb
<h1 style="font-size: 14px; text-align: center;">Cash Flow Report</h1>
<hr>
<table style="width: 100%; font-size: 10px;">
  <tr>
    <th style="text-align: left;">Date</th>
    <th style="text-align: right;">In</th>
    <th style="text-align: right;">Out</th>
  </tr>
  <!-- Add your cash flow data rows here -->
</table>