# app/views/reports/inventory_out.html.erb
<h1 style="font-size: 14px; text-align: center;">Inventory Out Report</h1>
<hr>
<table style="width: 100%; font-size: 10px;">
  <tr>
    <th style="text-align: left;">Product</th>
    <th style="text-align: right;">Quantity</th>
  </tr>
  <!-- Add your inventory out data rows here -->
</table>