<!-- app/views/stock_transfers/new.html.erb -->
<% content_for :body_classes, "text-slate-800 dark:bg-slate-900 dark:text-slate-100 bg-white" %>

<%= render "shared/admin/nav", { header_title: "Inventario" } %>

<div class="container px-4 pb-24 mx-auto my-16">
  <div class="max-w-4xl mx-auto">
    <h1 class="mb-2 text-3xl font-extrabold tracking-tight text-slate-900 dark:text-slate-100">Nueva Transferencia de Stock</h1>
    <p class="mb-6 text-lg text-slate-500 dark:text-slate-400">Crear una nueva transferencia de stock entre almacenes.</p>

    <%= render 'form', stock_transfer: @stock_transfer %>
    
    <%= link_to 'Volver', admin_stock_transfers_path, class: "font-medium text-slate-600 hover:text-primary-600 text-sm px-2 py-2 dark:text-slate-400 dark:hover:text-primary-400" %>
  </div>
</div>