<!-- app/views/stock_transfers/new.html.erb -->
<% content_for :body_classes, "text-slate-800 dark:bg-slate-900 dark:text-slate-100 bg-white" %>

<%= render "shared/admin/nav", { header_title: @header_title } %>

<div class="container px-4 pb-24 mx-auto my-4">
  <div class="max-w-4xl mx-auto">
    <%= render 'form', stock_transfer: @stock_transfer %>
  </div>
</div>